/* importing fonts */
@font-face {
    font-family: 'Oswald';
    src: url('./Oswald/Oswald-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Truculenta';
    src: url('./Truculenta/Truculenta-VariableFont_opsz\,wdth\,wght.ttf');
}

@font-face {
    font-family: 'Permanent_Marker';
    src: url('./Permanent_Marker/PermanentMarker-Regular.ttf')
}

body {
    background-color: #ffecde;
    margin: 0; /* this gets rid of the white space above navbar */
}

article {
    background-color: white;
    position: absolute;
    margin: 0px 10%;
    width: 80%;
    z-index: -1;
}

.typer {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-family: 'Permanent_Marker';
    font-size: 90px;
    text-align: center;
}

/* lets the scrolling start at a certain padding */
#intro, #recipes {
    scroll-margin-top: 4em;
}

header {
    background-color: #c34f5a;
    position: fixed;
    z-index: 10;
    width: 80%;
    height: 58px;
    margin: 0px 10%;
}

.navbar {
    color: white;
    text-transform: uppercase;
    text-align: end;
    font-size: 15px;
    font-weight: 400px;
    font-family: "Oswald", sans-serif;
}

a {
    padding: 0px 20px;
    transition-duration: 300ms;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #8a1722;
}

button {
    background-color: #c34f5a;
    color: white;
    border: 3px solid white;
    border-radius: 10px;
    width: 130px;
    height: 42px;
    margin: 8px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    transition-duration: 300ms;
}

button:hover {
    color: #dae8ba;
    border: 3px solid #dae8ba;
    cursor: pointer;
}

.slideshow {
    padding-top: 58px;
    position: relative;
}

.slide {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    display: block;
}

.container1 {
    display: grid;
    grid-template-columns: 40% 60%;
}

.box1 {
    position: relative;
}

.left {
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 5px solid white;
}

.right {
    padding: 0px;
    margin: 0px;
    text-align: justify;
    font-family: 'Truculenta';
    font-size: 1.55vw; /* adjusts the font-size of the paragraph when the viewport width changes */
}

#right{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding: 0px 10px 0px 0px;
    margin: 50px 0px 0px 0px;
    font-family: 'Oswald';
    font-size: 36px;
    text-align: center;
}

.container2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.box2 {
    box-sizing: border-box;
    border: 5px solid white;
    position: relative; /* setting to relative so the child div can use it's space */
}

.desserts:hover, .chinese:hover, .japanese:hover, .western:hover {
    opacity: 70%;
    cursor: pointer;
}

.chinese, .japanese, .desserts, .western {
    width: 100%;
    padding: 0px;
    transition-duration: 500ms;
}

.caption {
    /* setting the words to be absolute of the parent div */
    /* centering the words to the middle for up-down and left-right */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vw;
    color: white;
    font-family: "Oswald", san-serif;
}

.description {
    position: absolute;
    font-family: 'Truculenta';
    font-size: 1.4vw;
    font-weight: bold;
    color: white;
    width: 80%;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Will let the text appear when hover over the image block that contains the description */
.desserts:hover .description, .japanese:hover .description, .chinese:hover .description, .western:hover .description {
    display: inline;
    transition-duration: 500ms;
}